
.contact-section {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  .contact-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .contact-content p {
    font-size: 18px;
  }
  

  